:root {
  --blue: #2e6f9f;
  --yellow: #f7c231;
}

body {
  background-color: #222a36;
  color: #d1d1d1;
}

main {
  padding-top: 60px;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}

button {
  margin-top: 100px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  width: 120px;
  cursor: pointer;
  border-radius: 90px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: translateY(-0.5em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  color: #fff;
  
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 12px 25px;
  font-size: 1.3rem;
  line-height: 40px;
  transition: all 0.3s ease-in-out;

}

button.with-text:hover {
  transform: translateY(-0.45em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}

button.with-text svg {
  width: 40px;
  float: left;
  margin-right: 8px;
}

label {
  display: block;
  margin-bottom: 12px;
  margin-top: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--yellow);
}

